<div class="mainRow">
    <nav>
        <ul>
            <li><a href="#basic">Basic utilisation</a></li>
            <li><a href="#input">From input file</a></li>
        </ul>
    </nav>

    <section class="mainSection">
        <article id="basic">
            <h2>Basic demonstration</h2>
            <img id="basicImage" alt="Nope chuck testa" src="ressources/aurora.jpg">

            <button type="button" role="button" id="basicResize" class="largeButton" ng-click="basicResize()">Resize this image</button>

            <div class="imageResized fll" id="basicImageResizedHeight"></div>
            <div class="imageResized fll" id="basicImageResizedWidth"></div>
            <div class="imageResized fll" id="basicImageResizedHeightAndWidth"></div>
            <div class="imageResized width100" id="basicImageResizedbySize"></div>
        </article>

        <article id="input">
            <h2>Resize image from input file</h2>
            <input type="file" id="fileInput" name="fileInput">

            <h3 class="inputTitles" hidden>Image from your computer</h3>
            <div class="imageResized width100" id="inputImg"></div>
            <h3 class="inputTitles" hidden>Image resized</h3>
            <div class="imageResized width100" id="inputImageResized"></div>

        </article>
    </section>
</div>

