<md-toolbar layout="row" layout-align="start center">
    <div>
        <md-button aria-label="toggleMenu" ng-click="toggleMenu()" hide-gt-md>
            <md-icon md-svg-src="src/assets/images/ic_menu_48px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button >
    </div>
    <div class="md-toolbar-tools" flex fill-height layout="row">
        angular-image-resizer Demonstration
    </div>
    <div>
        <md-button aria-label="saveImg" class="md-fab mrgRight15" ng-click="saveImg()">
            <md-icon md-svg-src="src/assets/images/ic_save_48px.svg" fill="white" style="width: 40px; height: 40px;"></md-icon>
        </md-button >
    </div>
</md-toolbar>
